@charset "utf-8";

@font-face {
    font-family: 'omyu pretty';
    src: url('omyu_pretty.eot');
    src: url('omyu_pretty.eot?#iefix') format('embedded-opentype'),
        url('omyu_pretty.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #333;
    min-width: 1450px;
}

#top {
    background-color: #fefadb;
    color: #593111;
    font-size: 15px;
    padding: 5px 0;
    text-align: center;
    font-family: 'omyu pretty';
}

#header {
    width: 100%;
}

.h_inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.logo {
    text-align: center;
    padding: 20px 0;
}

.gnb {
    display: flex;
    justify-content: center;
    width: 1320px;
    margin: 0 auto;
}

.gnb>li {
    width: 18%;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.gnb>li>a {
    font-family: 'omyu pretty';
    color: #593111;
    background-color: #dfbca1;
    border-radius: 20px;
    padding: 5px 20px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

.gnb>li>a:hover {
    color: #fff;
}


.sub {
    padding: 20px 0;
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 20;
}

.sub_menu {
    position: absolute;
    top: 100%;
    z-index: 19;
    left: 0;
    background: url(./image/submenu2.png) no-repeat center top;
    display: none;
    height: 224px;
    width: 100%;
}

.sub li a {
    color: #7a4418;
    display: block;
    text-align: center;
    font-family: 'omyu pretty';
    padding: 5px 0;
    font-size: 15px;
    font-weight: bold;
}

.sub li a:hover {
    text-decoration: underline;
}

.login {
    font-family: 'omyu pretty';
    color: #848484;
    font-size: 18px;
    position: absolute;
    right: 200px;
    top: 50px;
}

.login ol {
    display: flex;
    justify-content: space-between;
}

.login ol li {
    padding: 0 10px;
}

/*main*/
.menu_next,
.menu_prev {
    color: #593111;
}

.main img {
    width: 100%;
}

.main .menu_pag {
    bottom: 0;
    top: auto;
}

.main .menu_pag span {
    background-color: #593111;
}

.main .menu_pag {
    width: 1320px;
    left: 50%;
    transform: translate(-50%, 0);
}

/*popup*/
#popup {
    text-align: center;
    background: url(./image/popup.png) no-repeat center;
    height: 968px;

}

.popup {
    height: 968px;
    width: 1320px;
    margin: 0 auto;
    position: relative;

}

@keyframes up_and_down {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

.sample {
    position: absolute;
    right: 140px;
    bottom: 200px;
    animation: up_and_down 1s linear infinite alternate;
}

/*best*/
#best {
    background-color: #f9ede4;
    height: 970px;
}

.best {
    width: 1320px;
    margin: 0 auto;
}

.best p {
    text-align: center;
    padding: 130px 0;
}

.best_swipe {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.price img {
    position: absolute;
    right: 80px;
    top: 280px;
}

.name {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.sale {
    font-family: 'SpoqaHanSansNeo-Regular';
    color: #e32d2d;
}

.price span {
    text-decoration: line-through;
}

.name,
.sale,
.price {
    text-align: left;
    margin-left: 90px;
}

.best_next::after {
    content: url(./image/next.png);
}

.best_prev::after {
    content: url(./image/prev.png)
}

.best_next,
.best_prev {
    width: 70px;
}

.best_pag span {
    background-color: #593111;
}

.best_swipe {
    padding-bottom: 50px;
}

/*new*/
.new {
    background: url(./image/new5.png) no-repeat;
    width: 100%;
    height: 954px;
}

.new {
    position: relative;
}

.new_denti {
    position: absolute;
    right: 100px;
    top: 0;
}

.new {
    float: left;
    vertical-align: top;
}

.new a {
    display: block;
}

.new {
    position: relative;
    overflow: hidden;
}

.new img {
    width: 100%;
}

.top {
    position: absolute;
    bottom: 150%;
    right: 340px;
    z-index: 2;
    color: #679dbd;
    font-size: 40px;
    font-weight: bold;
    transition: all 1s;
    text-decoration: line-through;
}

.bottom {
    position: absolute;
    top: 150%;
    right: 280px;
    z-index: 2;
    font-weight: bold;
    color: #487e9e;
    transition: all 1s;
    font-size: 80px;
}

.new_ {
    width: 94px;
    height: 31px;
    position: absolute;
    top: 58%;
    left: 21%;
}

.new p {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/*hover*/
.new:hover .top {
    bottom: 52%;
}

.new:hover .bottom {
    top: 52%;
}

.new {
    position: relative;
}

.new ul {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 300px;
    bottom: 80px;
}

.new ul li {
    margin: 0 46px;
}

.new ul li:hover img {
    transform: scale(1.1, 1.1);
    transition: all 0.5s;
}

.new ul li a {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 15px;
}

.new p {
    color: #2e83b5;
}


/*review*/

#review {
    background-color: #fff8f2;
}

.review_1 {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.r_title {
    text-align: left;
}

.r_title img {
    margin-top: 100px;
}

.r_text {
    font-family: 'omyu pretty';
    color: #8e4b15;
    font-size: 23px;
    text-align: left;
    margin-left: 50px;
}

.review .swiper-slide-prev {
    transform: scale(0.9);
}

.review .swiper-slide-next {
    transform: scale(0.9);
}

.review .swiper-slide-active {
    transform: scale(1);
    transition: all 0.5s;
}

/*delivery*/

#delivery {
    background-color: #efd0d2;
    height: 485px;
}

.delivery {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.d_title {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.d_box {
    display: flex;
    justify-content: space-around;
}

.d_now1 {
    position: absolute;
    left: 120px;
    bottom: 20px;
}

.d_now2 {
    position: absolute;
    right: 370px;
    bottom: 20px;
}

.d_now1:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
}

.d_now2:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
}

/*story*/
.s_inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.story_po {
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 30;
}

.story_po2 {
    position: absolute;
    right: 60px;
    top: 250px;
    z-index: 40;
}

/*footer*/
#footer {
    background-color: #cda88c;
    height: 210px;
}

.footer {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer img {
    padding-top: 20px;
}

.i_flex {
    color: #fbfada;
}

.i_flex ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.i_flex ul li {
    padding: 0 30px;
}

.i_flex ul li:nth-child(1) {
    padding-left: 0;
}

.info p {
    color: #fbfada;
    text-align: center;
    padding: 5px 0;
}

.button ul {
    display: flex;
    justify-content: space-between;
}

.button ul li {
    opacity: 0.5;
    margin-bottom: 20px;
}

.button ul li:hover {
    opacity: 1;
    transition: all 0.5s;
}

/*top_btn*/
.top_btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 30;
}